.active {
  font-weight: bold;
}
.box-container {
  display: flex;
  background-color: #2b2b2b;
  color: white;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
a {
  color: white;
}
