.div1,
.div2,
.div3 {
  width: 200px;
  height: 200px;
  display: inline-block;
}
.div4 {
  width: 600px;
  height: 200px;
}

.div1 {
  background-color: red;
}

.div2 {
  background-color: green;
}

.div3 {
  background-color: blue;
}

.div4 {
  background-color: yellow;
}
